*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f8f8f5;
}
.logo{
    margin-left: -35px;
}
.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent; /* Transparent background */
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index: 1000; 
}

.navbar.scrolled {
    background-color: white; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    padding: 0 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin: 0 10px;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px;
}
.letschat {
    width: 180px;
    display: flex;
    align-items: center;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-evenly;
}
.letschat.scrolled-button{
    background-color: rgb(51, 59, 51);
    color: white;
}
.letschat span{
    font-size: large;
    font-family:Tahoma;
    font-weight:bold;
    justify-content: space-around;
}
main{
    width: 100%;
    height: 700px;
    background-color: black;
    position: relative;
    overflow: hidden;
    
}
.slide-item{
    width: 100%;
    height: 700px;
    position: absolute;
}
.slide{
    width: 100%;
    height: 700px;
    position: absolute;
    transition: 0.5s;
}
.slide-info{
    display: flex;
    flex-direction: column;
    width: 70%;
    top: 20%;
    margin-left: 155px;
    position: absolute;
}
.slide-info p{
    font-size: medium;
    padding: 10px;
    color: white;
}
.slide-info h1{
    font-size: 60px;
    padding: 1px;
    color: white;
}
.slide-buttons{
    position: absolute;
    margin-left: 160px;
    margin-top: 420px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.slide-discover-more{
    width: 150px;
    height: 50px;
    background-color: rgb(95, 104, 224);
    border: solid 2px white;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    cursor: pointer;
}
.slide-watch-video{
    width: 220px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    cursor: pointer;
}
.slide-watch-video img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgb(95, 104, 224);
}
.nav{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    top: 70%;
    right: 38%;
}
.prev-btn,
.next-btn {
    background: transparent;
    width: 35px;
    height: 35px;
    border: solid 3px black;
    border-radius: 100%;
    font-size: 24px;
    color: black;
    cursor: pointer;
    z-index: 1;
    font-weight: bolder;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}
.social-media{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60px;
    top: 22%;
}
.social-media p{
    height: 200px;
    writing-mode: vertical-rl;
    font-weight: bolder;
    font-size: 13px;
    color: white;
}
.social-media-icon{
    width: 45px;
    height: 45px; 
    background-color: white;
    margin: 10px 15px 15px 25px;
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    align-items: center;
    display: flex;
    justify-content: center;
}
.client{
    height: 200px;
    margin-top: -60px;
}
.clients-satisfactions-outer-div{
    position:absolute;
    width: 30%;
    height: 200px;
    background-color: white;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.clients-satisfactions-inner-div{
    display: flex;
    flex-direction: row;
    width:  420px;
    height: 170px;
    background-color: rgb(51, 59, 51);
    border-radius: 60px;
    align-items: center;
    justify-content:space-evenly;
}
.clients-satisfactions-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.clients-satisfactions-info h1{
    font-size: 50px;
    font-weight: bolder;
    margin-top: -20px;
    color: white;
}
.clients-satisfactions-info p{
    font-size: 15px;
    width: 200px;
    position:absolute;
    font-weight: bolder;
    margin-top: 50px;
    color: white;
}
.clients-satisfactions-icons {
    display: flex;
}
.bitmoji-2{
    margin-top: 40px;
}
.bitmoji-4{
    margin-top: 60px;
}
.clients-satisfactions-icons img{
    width: 60px;
    height: 60px;

}
.clients-icons{
    width: 70%;
    height: 120px;
    background-color: rgb(51, 59, 51);
    margin-top: 61px;
    position: absolute;
    margin-left: 446px;
    border-bottom-left-radius: 30px;
}
.test{
    width: 1000px;
    height: 1000px;
    background-color: black;
}
@media screen and (max-width: 848px) {
    .logo{
        max-width: 230px;
        max-height: 150px;
        position: absolute;
        left: 15%;
        margin-top: 40px;
    }
    .navbar{
        max-height: 80px;
    }
    .nav-links {
        display: none;
    }

    .burger {
        display:flex;
        flex-direction: column;
        position: absolute;
        right: 5%;
        margin-top: 40px;

    }
    .nav-active {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 10px;
        margin-top:130px;
        right: 15%;
        padding: 10px 10px 10px 0px;
        background-color: #e3ecf6;
        z-index: 1000;
        position: absolute;
    }
    .nav-active a{
        color: black;
    }
    .nav-active li {
        text-align: center;
    }
    .title_block h1{
        font-size: 20px;
        margin-top: 30px;
        z-index: 1;
    }
    .title_block h2 {
        font-size: 25px;
        margin-top: 15px;
        font-family:"Jersey 20", sans-serif;
        z-index: 1;
    }
    .letschat{
        position: fixed;
        z-index: 1000;
        left: 80%;
        bottom: 5%;
        width: 55px;
        border-radius: 30%;
        padding: 10px;
    }
    .letschat span{
        display: none;
    }
    main{
        width: 100%;
        height: 400px;
        background-color: black;
        position: relative;
        overflow: hidden;
    }
    .slide-item{
        width: 100%;
        height: 400px;
        position: absolute;
    }
    .slide{
        width: 100%;
        height: 400px;
        position: absolute;
        transition: 0.5s;
    }
    .slide-info{
        height: 400px;
        width: 80%;
        right: 10%;
    }
    .slide-info h1{
        font-size: 25px;
    }
    .slide-info p{
        margin-left: -8px;
    }
    .social-media {
        display: none;
    }
}
